.badge, .btn, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card:not([class*=card-outline-]) {
    border: 0;
}
.card {
    border-radius: .3rem;
}
.mt_t {
    margin-top: 16px;
}
.btn_ic {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 3px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #646060c4;
    margin: 5px 0;
    transition: 0.4s;
}

/*.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}*/
.fa.fa-caret-down{
    float: right;
    position: relative;
    right: 10px;
    top: 3px;
}
.mgt{
    margin-top: 48px;
}
.mgb{
    margin-bottom: 48px;
}
/*-------------------------header menu*/


@media (max-width: 576px){
	.mt_t {
	    margin-top: 50px;
	}
    .mgt{
        margin-top: 80px;
    }
    .mgb{
        margin-bottom: 20px;
    }
    div.hamburger .sidenav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
        background-color:#f8f9fa;

        transform: translateX(-250px);

        transition: transform .3s linear;

        z-index: 5;
    }

div.hamburger div.black {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(0, 0, 0);
    display: none;
    z-index: 4;
     opacity: 0.5;
    filter: alpha(opacity=50);
}
div.hamburger .box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: grey;

}
div.hamburger div.logo{
    padding: 3px 0;
    margin-bottom: 15px;
    width: 100%;
}
div.hamburger div.icon{
    /*color: white;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid white;*/
}
div.hamburger div.form{
    color: #000;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white; 
}
 div.hamburger ul{
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    width: 100%;
    display: block;
    /* float: left; */
}
div.hamburger li a{
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 5px;
    padding-left: 16px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
}
div.hamburger li a:hover{
    width: 100%;
    background-color: red;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.m_lang a {
    color: #343a40;
}
.m_lang a:first-child::after {
    content: "|";
    color: red;
    padding-left: 5px;
}
.m_lang {
    margin-left: 25px;
}
div.hamburger div.icon {
    /* margin-left: 25px; */
    margin-top: 20px;
}
div.hamburger div.icon a {
    display: block;
    color: #000;
    font-weight: 500;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}
div.hamburger div.icon a:hover {
    background-color: red;
    transition: 0.5s;
    color: #fff;
}
    .menu .text-right {
       display: none;
    }
    .stest-nav .nav {
        display: none;
    }
    a.logo {
        right: 15px;
        position: absolute;
    }
    .menu .logo img {
        margin-top: unset;
        margin-left: unset;
        height: 20px;
    }
    .menu {
        padding-top: 7px;
        padding-bottom: 7px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    div.hamburger div.icon>img {
        width: 70px;
        margin: 0 35%;
    }
    .media_u {
        margin-top: 7px;
    }
    img.new_img{
        margin-left: 5px;
        width: 16px;
    }
    .media_u h5 {
        font-size: 14px;
    }
    .media_u h6 {
        font-size: 12px;
        color: #4c535a;
        margin-bottom: 10px;
    }
    .menu {
        box-shadow: 0px 0px 4px 1px #bfbdbda6;
        position: fixed;
        top: 0;
    }
    .user_div {display: none;}
    .col-lg-1.col-2.my-img {display: none;}
    ul#contentUsers {
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #fff;
        margin-bottom: 7px;
    }
}
@media (min-width: 577px){
    .sidenav{
        display: none;
    }
    .hamburger{display: none;}
    a.logo {
    	width: 16.666666%;
	}
}
/*end menu*/