body {
	background-color: #f2f1f1;
	font-family: "Arial";
}
/*menu*/
/*==================================*/
/*menu*/
	.menu {
		border-bottom: 1px solid #cccccc;
		box-shadow: 0px 3px 10px 0px #cccccc;
		background-color: #ffffff;
		padding-top: 7px;
    	padding-bottom: 7px;
	}

	.stest-nav ul li:hover {
		background-color: white;
	}
	.menu .logo img {
		/*margin-top: 20px;*/
		margin-left: 5px;
	}
/*menu tugadi*/

/*menubar right*/
	.menu .text-right {
		 margin-left: auto;
		 margin-top: 10px;
	}
	.menu .languages {
		list-style-type: none;
	}

	.menu .languages li {
		display: inline-block;
	}
	.menu .languages .rus,
	.menu .languages .uzb {
		border-right: 1px solid red;
		margin-right: 5px;
		padding-right: 5px;
		height: 14px;
	    line-height: 16px;
	}
	.mybtns {
		margin-top: -15px;
	}
	.menu .signin {
		background-color: #000000;
		color: #ffffff;
		padding: 3.5px;
		text-transform: uppercase;
	}
	.menu .login {
		background-color: #ff3333;
		color: #ffffff;
		padding: 3.5px 5px 3.5px 5px;
		text-transform: uppercase;
	}
	@media (max-width: 576px){
		.menu .text-right {
			font-size: 13px;
		}
	}
/*menubar right tugadi*/

/*nav links*/
	.stest-nav .nav li {
		border-bottom: 1px solid #ff3333;
		padding: 11px 11px 5px 11px;
	}
	.stest-nav li a {
		color: #686868;
	}
	.stest-nav .nav-index li:first-child {
		border-left: 1px solid #ff3333;
	}
	.stest-nav .nav-index li:last-child {
		border-right: 1px solid #ff3333;
	}	
	@media (max-width: 604px){
		.stest-nav .nav li {
		padding: 7px 7px 1px 7px;
		font-size: 13px;
	}
	}
	@media (max-width: 503px){
		.stest-nav .nav{
		display: none;
	}
	}

	/*test page uchun menu*/
		.stest-nav .nav-tests {
			margin-bottom: -16px;
		}
		.stest-nav .nav-tests li {
			border: none;
		}
		.stest-nav .nav-tests li:hover {
			border-bottom: 1px solid #ff3333;
			margin-bottom: -1px;
		}
	/*test page uchun menu tugadi*/


/*nav links tugadi*/

/*subject boxs*/
	.subjects .box1 {
		background-color: #1794c2;
		border-radius: 5px;
		box-shadow: 0px 0px 20px 7px #cccccc;
		color: #ffffff;
		text-align: center;
		padding: 5px;
	}
	.subjects .box1 p {
		font-size: 10px;
		margin-top: -2px;
		margin-bottom: -2px;
	}
	.subjects .box1 .online-subjects {
		border: 1px solid #ffffff;
		border-radius: 5px;
		margin: 10px;
		padding: 5px;
	}
	@media (max-width: 767px){
		.subjects .box1{
			margin-bottom: 15px;
		}
	}
	.subjects .box img {
		margin-top: 57px;
		margin-bottom: 57px;
	}
	.box {
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 0px 20px 7px #cccccc;
		text-align: center;}
	.box a {
		color: #ffffff;
	}
	.box p{
		padding: 6px 0px 6px 0px;
		font-weight: bold;
		font-size: 18px;	
	}
	.fizika-subject {
		background-color: #14338a;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.tarix-subject {
		background-color: #be5805;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.kimyo-subject {
		background-color: #7e00ff;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.geografiya-subject {
		background-color: #ff9000;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.biologiya-subject {
		background-color: #12d703;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.onatili-subject {
		background-color: #00bfff;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.fransuz-subject {
		background-color: #ff00f6;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.inglis-subject {
		background-color: #ff0006;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.rus-subject {
		background-color: #0060ff;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.nemis-subject {
		background-color: #67542a;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.box1:hover {
		margin-top: -11px;
		transition: 0.7s;
	}
	.subjects .box:hover {
		margin-top: -11px;
		transition: 0.7s;
	}
/*subject boxs tugadi*/

/*stest-app-section*/
	@media (min-width: 992px){
		.stest-app-section .col-md-4 img{
			width: 70%;
			float: right; 
			position: relative; 
   			z-index: 10;
		}
	}	
	@media (min-width: 768px) and (max-width: 991px) {
		.stest-app-section .col-md-4 img{
			float: right; 
			position: relative; 
   			z-index: 10;
		}
		.stest-app-section .stest-app-info {
			font-size: 15px!important;;
		}
		.stest-app-section .stest-app-info .text-right img{
			width: 20%;
		}

	}
	@media (min-width: 992px) and (max-width: 1199px){
		.stest-app-section .stest-app-info {
			font-size: 16px!important;
		}
		.stest-app-section .stest-app-info .text-right img{
			width: 20%;
		}
	}
	@media (max-width: 767px){
		.stest-app-section .col-md-4 img{
			display: none; 
		}
	}
	@media (min-width: 768px){
		.stest-app-section .stest-app-info {
			margin-right: 60px;
			margin-left: -40px;
			margin-top: 6%;
		}
	}
	.stest-app-section .stest-app-info {
		border: 1px solid #ff3333;
		padding: 30px 30px 30px 60px;
		font-size: 20px;
	}
	
/*stest-app-section tugadi*/

/*websait*/
	.website {
	  height: 100%;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;	
	}
	.website .website-box {
		background-color: #ffffff;
		padding: 30px;
		border-radius: 5px;
		box-shadow: 0px 0px 20px 7px #cccccc;
		text-align: center;
	}
	.website .website-box a {
		color: #000000;
		font-size: 20px;
	}
	.website .website-box img {
		width: 80%;
	}
	.website-line img {
		width: 60%;
		margin-left: -30px;
	}
	.website-line-left{
		margin-right: -30px;
	}
	@media (max-width: 991px){
		.website .website-box a {
			font-size: 15px;
		}
	}
	@media (max-width: 767px){
		.website-line {
			display: none;
		}
		.website .website-box {
			margin-bottom: 28px;
		}
	}
/*websait tugadi*/

/*service-cost*/
	.service-cost .cost p{
		border-right: 2px solid red;
		padding: 26px 25px 26px 0px;
	}
	.service-cost .cost a {
		border: 1.3px solid grey;
		color: #ff3333;
		border-radius: 5px;
		padding: 19px;
    	font-size: 27px;
    	margin: 0px 10px 10px 10px;
	}
	.service-cost .row p {
		font-size: 25px;
	}
	.service-cost .PC p{
		padding: 26px 0px 26px 0px;
	}
	@media (max-width: 991px){
		.service-cost .row p{
			font-size: 18px;
		}
		.service-cost .cost a {
			padding: 12px;
			margin: 0px 8px 8px 8px;
		}
	}
	@media(max-width: 767px){
		.service-cost .cost p{
			border: none;
		}
		.service-cost .PC {
			border-top: 2px solid red;
		}
		.service-cost .cost {
			margin-top: 15px;
		}
	}
/*service-cost tugadi*/

/*top-users*/
	.top-users .box-users{
		border-radius: 5px;
		box-shadow: 0px 0px 20px 7px #cccccc;
		padding: 15px;
		background-color: #ffffff;
		margin-top: 30px;
	}
	.top-users .box-users .math {
		/*border-right: 2px solid red;*/
		/*border-left: 2px solid red;*/
		/*padding: 0px 5px 0px 5px; */
		/*margin-right: 5px;*/
		/*margin-left: 5px; */
	}
	.top-users .box-users h6 {
		font-size: 13px;
	}
	.top-users .box-users h6::after {
		content: "|";
	    font-size: 13px;
	    color: red;
	    font-weight: bold;
	    padding: 0 2px;
	}
	.top-users .box-users h6:last-child::after {
		content: "";
	}
	.top-users  .h3 {
		margin-top: 20px;
		font-size: 24px;
	}
	@media (max-width: 991px) {
		.top-users .h3 {
			font-size: 18px;
		}		
	}
/*top-users tugadi*/

/*footer*/
	.scrol-icon a{
		text-align: center;
		float: center;
	}
	.my_footer{
	    background-color: #202020;
	    color: #fffefe;
	    border-top: 2px solid red;
	}
	.my_footer >.container{
	    /*padding-top: 50px;*/
	}
	.box-c{
	    padding-top: 50px;
	}
	.box-c h4{
	    margin-bottom: 15px;
	}
	.box-c ul{
	    list-style: none;
	    padding-left: 0px;
	}
	.box-r{
	    padding-top: 50px;
	}
	.box-r h4{
	padding-bottom: 25px;
	}
	.form-contact input{
	    padding-left: 10px; 
	}
	.bottom_f{
		color: #fff;
	      background-color: rgb( 0, 0, 0 );
	      position: absolute;
	      width: 100%;
	      height: 84px;
	      z-index: 16;
	}
	.bottom_f p{
	    font-size: 13px;
	    padding-top: 30px;
	}

	.txt a{
	    text-decoration: none;
	    color: #fffefe;
	    margin-top: 25px;
	    margin-bottom: 25px;
	    font-size: 20px;
	}
	.txt span{
	    color: red;
	}
	.send_btn{
	    float: right;
	    border-radius: 3px;
	    background-color: #f9f9f9;
	    margin-top: 20px;
	    padding: 3px 20px;
	    color: #010101;
	}
	.form-control.myform{
	    background-color: #f9f9f9;
	    border-radius: .2rem;
	}
	.form-control.myform:focus {
	    color: #495057;
	    background-color: #fff;
	    border-color: inherit;
	    outline: 0;
	    box-shadow: none;
	}
	.form-contact textarea {
		height: 100px;
		width: 102.5%;
		padding-left: 10px;
	}

	@media only screen and (max-width: 767px) {
	    .center_div{
	        display: none;
	    }
	    .box-c{
	        text-align: center;
	        padding-top: 30px;
	    }
	    .box-r{
	        text-align: center;
	        padding-top: 40px;
	    }
	}
/*footer tugadi*/






		/*TESTS.html*/

/*.math section	*/
	.math-section {
		background-color: #1794c2;
	}
	.math-section p {
		font-size: 23px;
	}
	@media (max-width: 767px){
		.math-section p {
			font-size: 15px;
		}	
		.math-section img {
			width: 28px;
		}
	}
	@media (max-width: 503px){
		.math-section p {
			font-size: 14px;
		}	
		.math-section img {
			display: none;
		}
	}
	@media (max-width: 993px){
		.nav-tests, .line-stest-menu {
			display: none;
		}
	}
/*math section tugadi*/

/*test-results*/
	.test-results {
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 1px #cccccc;
	} 
	.test-results .col-4 h3 {
		font-size: 1.75rem;
	}
	.test-results a {
		background-color: #3bb52f;
		padding: 5px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 1px #cccccc;
		color: #ffffff;
		padding: 13px 20px;
		margin-bottom: 10px;
		font-size: 22px;
	}
	.test-results a:hover {
		background-color: #ffffff;
		color: #3bb52f;
	}

	.test-results p {
		font-size: 20px;
	}
	@media(max-width: 793px){
		.test-results p {
			font-size: 14px;
		}
		.test-results .col-4 h3 {
			font-size: 1.2rem;
		}
	}

/*test-results tugadi*/

/*questions*/
	.questions {
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 1px #cccccc;
	} 
    .questions img {
		float: right;
	}
	.questions .col-10 h3 {
		font-size: 1.75rem;
	}
	.questions p {
		font-size: 20px
	}
	@media (max-width: 1199px){
		.questions p {
			font-size: 17px
		}
	}	
/*quesinos tugadi*/

/*version*/
	.stest-nav .col-lg-6 p {
		font-size: 20px;
		margin-top: 12px;
	}
	.stest-nav .col-lg-3 h5 {
		font-size: 18px;
		margin: 10px;
	}
	.stest-nav .col-lg-3 p {
		font-size: 16px
	}
	.stest-nav .col-lg-3 img {
		margin: 0px 0px 20px 2px;
	}
	@media (max-width: 572px) {
		.stest-nav .col-lg-3 h5 {
			font-size: 16px;
		}
		.stest-nav .col-lg-3 p {
			display: none;
		}
		.stest-nav .col-lg-3 img {
			display: none;
		}
	}
	.version .version-card .col-11 p {
		font-size: 18px;
	}
	@media (max-width: 1199px){
		.version .version-card .col-11 p {
			font-size: 15px;
		}
	}	
	.version .version-card {
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 1px #cccccc;
	}
	.version .version-card .row {
		padding: 8px;
	}
	.version .version-card .answer-box {
		border: 1px solid #ffffff;
	}
	.version .version-card a{
		color: #000000;
	}
	.version .version-card .answer-box:hover {
		border: 1px solid #1794c2;
	}
	.version .answers-card {
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 1px #cccccc;	
	}
	.version .answers-card .form-inline p {
		color: #919191;
		padding: 0.5px 20px;
		font-size: 23.5px;
		margin-bottom: 0px;
		font-weight: 500;
	}
	@media (max-width: 1199px){
		.version .answers-card .form-inline p {
			font-size: 21px;
		}
	}	
	.version .answers-card .form-inline .A {
		background-color: #1ec508;
		color: #ffffff;
	}
	.before-after a{
		background-color: #1794c2;
		color: #ffffff;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 20px
	}
	.before-after a:hover {
		background-color: #ffffff;
		color: #1794c2;
	}
	.before-after, .version  .finished {
		margin-top: 24px;
	}
	.version  .finished a {
		border: 1px solid #fc0000;
		color: #fc0000;
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 5px;
	}
	.version  .finished a:hover {
		color: #ffffff;
		background-color: #fc0000; 
	}
	@media(max-width: 993px){
		.version .answers-card {
			margin-top: 8px;
		}
		.stest-nav .col-lg-6 p {
			display: none;
		}
		.before-after a, .version .finished a {
			font-size: 14px;
		}
	}
	@media(max-width: 1199px) {
		.version .answers-card .form-inline p {
			    padding: 0.5px 17px;
		}
	}
/*version tudadi*/

/*myprofile*/
	.myprofile .row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.myprofile .row .myprofile-box {
		background-color: #ffffff; 
		position: absolute;
		box-shadow: 0px 0px 10px 1px #cccccc;
		display: none;
		z-index: 10;
	}
	.myprofile .row .col-10 {
	}
	.profile-lines .form-inline {
		border: 1px solid #ffffff;
		padding: 5px 18px;
	}
	.profile-lines .form-inline:hover {
		border: 1px solid red;
	}
	.profile-lines .form-inline img {
		width: 22px;
		margin: 0px;
	}
	.profile-lines .form-inline p {
		margin-bottom: -4px;
		margin-left: 7px;
	}
	.profile-lines a {
		color: black;
	}
	@media(max-width: 572px) {
		.profile-lines .form-inline p {
			font-size: 12px;
		}
		.profile-lines .form-inline img{
			width: 18px;
		}
	}
/*myprofile tugadi*/

		/*TESTS.html tugadi*/




	

		/*ENTER-TESTS.html*/

/*enter-tests box*/
	.chosen-block  {
			font-size: 24px;
		}
	.enter-tests .box img {
		width: 60%;
	}
	.enter-tests .col-4 {
		padding: 4%;
	}
	.enter-tests .box {
		border-radius: 5px;
		box-shadow: 0px 0px 20px 7px #cccccc;
		text-align: center;
		padding: 10px;
	}
	.enter-tests .box-math {
		background-color: #1794c2;
	}
	.enter-tests .box-fiz {
		background-color: #14338a;
	}
	.enter-tests .box-eng {
		background-color: #ff0006;
	}
	.enter-tests .box p {
		color: #ffffff;
		font-size: 22px;
	}
	.btns-class a{
		background-color: #ffffff;
		color: #908e8e;
		padding: 5px 15px;
		border-radius: 5px;
		border: 1px solid #ffffff;
		margin: 15px;
		width: 145px;
	}
	.btns-class a:hover {
		border: 1px solid #1794c2;
		transition: 0.7s;
	}
	.btns-class h3 {
		font-size: 40px;
		font-weight: normal;
		margin: 0px;
		font-weight: lighter;
	}	
	.btns-class p {
		font-size: 30px;
		margin: 0px;    
		padding-left: inherit;
    	font-weight: 100;
	}
	@media(max-width: 768px) and (max-width: 991px){
		.chosen-block  {
			font-size: 18px;
		}
		.enter-tests .box p {
			font-size: 16px;
		}
	}
	@media(max-width: 767px){
		.chosen-block  {
			font-size: 15px;
		}
		.enter-tests .box p {
			font-size: 13px;
		}
		.enter-tests .box {
			padding: 4px;
		}
		.btns-class h3 {
			font-size: 30px;
		}
		.btns-class p {
			font-size: 20px;
		}

		.btns-class a{
			width: 130px;
		}
	}
	@media(max-width: 572px){
		.chosen-block  {
			font-size: 12px;
		}
		.enter-tests .box p {
			font-size: 9px;
		}
	}
/*enter-tests box tugadi*/

/*start-tests*/
	.start-tests .input {
		width: 100%;
		margin-top: 10px;
		background-color: #f2f1f1;
	    border-radius: 5px;
	    border: 1px solid #9d9d9d;
	    padding: 3px;
	    color: #9d9d9d;
	    padding-left: 12px;
	}
	.start-tests .input:hover {
		border: 1px solid #1794c2;
	}
	.start-tests .start-tests-btn {
		width: 200px;
		margin-top: 10px;
		background-color: #f2f1f1;
	    border-radius: 5px;
	    border: 1px solid #9d9d9d;
	    padding: 3px;
	    text-align: center;
	}
	.start-tests .start-tests-btn a {
	    color: #9d9d9d;
	}
	.start-tests .start-tests-btn:hover {
		border: 1px solid #ff0000;
	}
/*start-tests tugadi*/

		/*ENTER_TESTS tugadi*/






		/*/*SUBJECTS.htnl*/

/*general info*/
	.general-info {
		width: 100%;
		height: 180px;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 1px #cccccc;
		padding-top: 65px;
	}
	.general-info p {
		text-align: center;
		font-size: 26px;
		font-weight: 500;
	}
/*general info tugadi*/
/*math-fiz-eng-section*/
	.test-results a:hover {
		background-color: #ffffff;
		color: #3bb52f;
	}		
	.math-fiz-eng-section p {
		font-size: 20px;
	}
	.math-fiz-eng-section a {
		padding: 0px 15px;
	}
	.math-fiz-eng-section a:hover{
		background-color: #4b4b4b;
	}
	.begin-tests-btn {
		text-align: center;
	}
	.begin-tests-btn a{
		background-color: #3bb52f;
	    padding: 5px;
	    border-radius: 5px;
	    box-shadow: 0px 0px 10px 1px #cccccc;
	    color: #ffffff;
	    padding: 13px 20px;
	    margin-bottom: 10px;
	    font-size: 26px;
	}
	@media (max-width: 767px){
		.math-fiz-eng-section p {
			font-size: 15px;
		}	
		.math-fiz-eng-section img {
			width: 28px;
		}
		.general-info p {
			font-size: 19px;
			font-weight: 500;
		}
		.begin-tests-btn a {
			font-size: 19px;
		}
	}
	@media (max-width: 503px){
		.math-fiz-eng-section p {
			font-size: 14px;
		}	
		.math-fiz-eng-section img {
			margin-right: 0px;
		}
		.math-fiz-eng-section a {
			padding: 0px 4px;
		}
	}	
/*math-fiz-eng-section tugadi*/
			
		/*SUBJECTS.html tugadi*/


				
/*SOLVE-SUBJECT-TEST.hmtl*/
	.before-after .time p{
		line-height: 12px;
	}
	.true {
		background-color: #ff0000;
		color: #ffffff;
		margin: 0px 1px;
	}
	.false {
		background-color: #1ec508;
	    color: #ffffff;
		margin: 0px 1px;
	}
	.border-red {
		border: 1px solid #ff0000!important;
	}
	.border-green {
		border: 1px solid #1ec508!important;
	}
	@media(max-width: 793px){
		.test-results-newpage p {
			font-size: 10px;
		}
		.test-results-newpage .col-4 h3 {
			font-size: 0.8rem;
		}
		.test-results a {
			font-size: 15px;
		}
	}

/*SOLVE-SUBJECTS-TEST.html tugadi*/


/*ERRORS.hmtl*/

	@media(max-width: 793px){
		.test-results-errors p {
			font-size: 15px;
		}
		.test-results-errors .col-5 h3 {
			font-size: 1rem;
		}
	}
/*ERRORS.html tugadi*/


/*UMUMIY*/
	.line-grey {
		margin: 1px solid #ececec;
		margin: 0px 0px;
	}
	.line-grey-red {
		background-color: #9d9d9d;
		height: 1px;
		width: 100%;
		padding: 0px 20%;
	}
	.line-stest {
		background-color: #9d9d9d;
		height: 1px;
		width: 100%;	
	}
	.line-red {
		background-color: red;
		height: 1px;
		width: 15%;
		margin-left: 43%;
	}
	.bg-black {
		background-color: #000000;
	}
	a:hover {
		text-decoration: none;
	}
/*UMUMIY TUGADI*/


/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.main {
    box-shadow: 0 0 18px #c3c1c1;
    background-color: #fff;
    padding-bottom: 90px;
    margin-bottom: 35px;
    border-radius: 6px;
}

.middle-red {
    font-size: 60px;
    color: red;
    font-weight: bold;
}

.big-red {
        font-size: 90px;
        color: red;
        font-weight: bold;
}

.boldP {
    font-weight: bold;
    color: #535353;
    font-size: 25px;
}
.mrgt {
    padding-top: 60px;
}




.container_1 {
    width: 90%;
    margin: auto;
    padding-top: 90px;
}

.boldM {
    color: #a4a4a4;
    margin-top: 26%;
    font-weight: bold;
    color: #535353;
    font-size: 25px;
}
.row.line{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.table_t{
    border-collapse: collapse;
    width: 100%;
}
tr:nth-child(odd) {
    background-color: #e8e8e8;
}
td, th {
    text-align: left;
    padding: 12px;
}
tbody th {
    font-weight: 600;
}
.table_t tr>td>p{
    font-weight: bold;
    margin-bottom: 0;
}
.table_t tr>td ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.table_t tr>td ul li{
    display: inline;
    font-size: 12px;
}
.table_t tr>td ul li::after {
    content: "/";
    color: #ff002d;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
}
.table_t tr>td ul li:last-child::after{
    content: "";
}
.table_t tr td, th{
    text-align: center;
}
.table_t tr td:first:child{
    text-align: left;
}
.tab_1{
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 10px;
    overflow: auto;
}
.table_t thead{
    border-bottom: 1px solid #e8e8e8;
    
}
.table_t thead tr{
    background-color: #fff;
}
.table_t thead th{
    font-size: .9rem;
    font-weight: 600;
}
.sel_radius{
    border-radius: 6px;
    padding-left: 7px;
}
select.sel:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    color: #b0b0b0;
}
.container.main h3 {
    color: #9b9b9b;
}
.tableContainer{
    widows: 100%;
    overflow: auto;
}
.box_l{
    width: 100%;
    height: 1px;
    background-color: #9c9c9c;
}
div.box_l div.box_inner{
    height: 1px;
    width: 10%;
    background-color: red;
    margin: 0 auto;
}

.red_line {
    width: 100%;
    background-color: red;
    height: 1px;
    position: relative;
    bottom: 0;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.hisob_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapp {
    margin: auto;
    width: 50%;
}
.img_circle {
    width: 160px;
    height: 160px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 1px solid #b2b2b2;
}
.pay_c{
    margin-bottom: 40px;
}
.pay_c img{
    margin-top: 65px;
    margin-bottom: 10px;
}
input.pay_input {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px;
    border: 2px solid #4b4b4b;
    border-radius: 6px;
    background-color: #fff;
}

.text_bot {
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 14px;
    color: #000;
}
input.text-center.pay_input:focus {
    border-bottom: 2px solid #000;
    box-shadow: none;
    background-color: #fff;
    outline: 0;
}
.card_title {
    margin-top: 65px;
    margin-bottom: 40px;
    color: #202020;
}
.card_img {
    width: 36px;
    margin-bottom: 10px;
}
.wrapp.text-center h4, h5 {
    color: #515151;
}
@media screen and (max-width: 768px){
     .pay_c img {
        width: 100%;
    }   
    input.pay_input {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #4b4b4b;
        border-radius: 6px;
        background-color: #fff;
        font-size: 14px;
    }
    input.text-center.pay_input:focus {
        border-bottom: 1px solid #000;
        box-shadow: none;
        background-color: #fff;
    }
    .pay_btn{
        font-size: 14px;
        padding: .75rem 1.53rem;
    }
    .card_img {
        width: 25px;
        margin-bottom: 7px;
    }
    .card_title{
        font-size: 20px;
        color: #202020;
    }
}

.span_red {
    color: red;
}

.nav_border{
	border: 1px solid red;
}

/*-----------------------------------*/
.set_h a{
	text-decoration: underline;
	color: #515151;
}
.set_h a:hover{
	/*text-decoration: none;*/
	color: #000;
}
h5.set_h{

}
/*=================*/

/*===================*/

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}
.last_child{
	margin-left: 15%;
    margin-right: 15%;
}

.footer{
	background-color: #000;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++*/
div.user_l{
	margin-bottom: 40px;
}
div.user_l h5{
	font-size: 12px;
	font-weight: bold;
}
.green_btn{
	background-color: #09b705;
    font-weight: 600;
    color: #fff;
    width: 50%;
}
.green_btn:focus{
	outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(30, 247, 4, 0.42);
}

@media (max-width: 767px) {
	.green_btn{
	    width: auto;
	}
}
/*=====================================*/
#result-table{
	width: 100%;
	color: #515151;
    /*background-color: #fff;*/
}
#result-table thead>tr{
	background-color: #fff;
}
#result-table tr{
	background-color: #fff;
}
#result-table tr.tl{
	border-bottom: 1px solid #cbcbcb;
}
.border_tab {
    box-shadow: 0 0 18px #c3c1c1;
    border-radius: 3px;
    background-color: #fff;
}
.td_clock{
	width: 40%;
	font-size: 24px;
    font-weight: 500;
}
td.td_date{
	font-size: 24px;
    font-weight: 500;
}
th.td_result{
	font-size: 24px;
    font-weight: 500;
    color: #000;
}
h5.set_hh{
	margin-bottom: 50px;
    font-size: 24px;
}
.green_btn#inhert{
	width: inherit;
}
.welcome_t{
	color: #515151;
    font-size: 18px;
}
p.add{
	color: #515151;
    font-size: 16px;
}
/*-----------------------------------------*/
.card .card-title{
	color: #000;
}
.card .card-text{
	color: #000;
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 500;
    /*text-align: justify;*/
}
img.single_img {
    width: 45%;
    float: left;
    margin-right: 25px;
    margin-top: 6px;
}
.single_left h3{
	font-size: 1.65em;
}
.single_left h5{
	font-size: 1.05rem;
	text-align: justify;
	color: #2d2d2d;
}
.single_left p{
	color: #606060;
	text-indent: 1.5em;
}
@media (max-width: 991px){
	img.single_img{
		width: 100%;
		margin-bottom: 10px;
	}
	.single_left h3{
		font-size: 1.35em;
		/*text-align: justify;*/
	}
}
.single_right .card{
	box-shadow: none;
    border-radius: 0;
    background-color: transparent;
}
.single_right .card-body {
    /*padding-left: 0;*/
    padding-top: 12px;
}
.singli_right .card-title {
    margin-bottom: 7px;
}
.singli_right img{
    border-radius: 2px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.single_right h5.card-title {
    margin-bottom: 7px;
}
.single_right img.card-img-top:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.single_right{
	margin-top: 6px;
}
.single_right a{
	text-decoration: none;
	color: inherit;
}
.single_right h5>a:hover{
	text-decoration: none;
	color: blue;
}
@media (min-width: 992px){
	.single_right{
		margin-left: 10px;
	}
	.card-deck .card-body{
		/*padding-left: 0;*/
	}
}
.card-deck .card{
	background-color: transparent;
	box-shadow: none;
}
/*++++++++++++++++++++++++++++++++++++++*/
.result_ta{
	padding: 16px;
    margin: 12px 0px
}
.result_ta h3{
	font-size: 24px;
    font-weight: 500;
    color: #515151;
}
h3.text_natija{
	color: #000;
}
.btn_res{
    background-color: #fff;
    color: #000;
    overflow: auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.btn_res:hover{
	color: inherit;
	border: 1px solid #78b6cd;
	box-shadow: none;
}
.btn_active{
	border: 1px solid #78b6cd;
	box-shadow: none;
}
@media (max-width: 991px){
	.btn_res{
		font-size: 12px;
	}
}
@media (max-width: 767px){
	a.btn_res{
	    margin-bottom: 7px;
	}
	.result_ta h3{
		font-size: 14px;
	    font-weight: 500;
	    color: #515151;
	}
	#result-table td,th, th.td_result{
		font-size: 12px;
	}
	#inhert{
		font-size: 12px;
	}
}

li.nav-item.active {
    border-bottom: 1px solid red;
    margin-bottom: -1px;
    background-color: #fff;
}
.user_div h5.user_name{
	margin-bottom: 3px;
    margin-right: 0;
}
h6.user_money{
	font-size: 12px;
}
.user_div{
	color: #515151;
    text-align: right;
}
.stest-nav .col-lg-3 img {
    width: 14px;
    margin-bottom: 2px;
}

/*modal---------------------------*/
.modal-lg {
    max-width: 80%;
}
.col-md-6 .afar{
	background-color: red;
	height: 100%;
}
.modal-content{
	border-radius: 0;
}
.afar_txt>h3{
	color: #fff;
}
.afar_txt>p{
	color: #fff;
}
.col-md-6 #login{
	padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
.afar_txt{
	position: relative;
    top: calc(100% - 340px);
    padding-right: 100px;
    padding-left: 100px;
}
.reg_txt{
	color: #010101;
}
.reg_txt:hover{
	text-decoration: underline;
}
.reg_form{
	padding: .275rem .75rem;
}
.img_trt img{
	background-color: #cdcd;
    width: 120px;
    border-radius: 50%;
    height: 120px;
    background-position: center;
}
.left_r{
	padding: 80px 100px;
	padding-top: 0;
}
.right_r{
	padding: 80px 100px;
	padding-top: 0;
}
.hhh{
	margin-top: 190px;
}
.hhh h4{
	padding-bottom: 46px;
}
.close{

}
.modal-header {
    border-bottom: none;
}
@media (max-width: 767px){
	.hhh{
		margin-top: 50px;
	}
	.txt_size{
		font-size: 18px;
	}
	.box-h{
		display: none;
	}
	.left_r{
		font-size: 14px;
	    padding: 20px;
	}
	.right_r{
		padding: 20px;
    	font-size: 14px;
	}
	.modal-lg {
	     max-width: 100%; 
	}
	.afar_txt {
	    position: relative;
	    top: 0;
	    padding-right: 50px;
	    padding-left: 50px;
	    font-size: 12px;
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.col-md-6 #login{
		padding-top: 120px;
	    padding-bottom: 120px;
	    padding-left: 100px;
	    padding-right: 100px;
	}
	.col-md-6 #login {
	    padding-top: 50px;
	    padding-bottom: 50px;
	    padding-left: 50px;
	    padding-right: 50px;
	    font-size: 14px;
	}
	h4.rrr{
		font-size: 20px;
	}

}
/*//////////////////////////////////////////////////////////*/
.profile-pic {
   display: block;
    width: 100%;
    height: auto;
}

.file-upload {
    display: none;
}
.circle {
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    /* position: absolute; */
    /* top: 72px; */
    border-radius: 50%;
    border: 1px solid #5c5f5c8a;
    margin: 0 auto;
}
circle>img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.p-image {
 	color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    text-align: center;
    margin-top: 5px;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
  color: #000;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/*//////////////////////////////////////////////////////////*/
/*end modal--------------------------*/
.box-h{
    background-color: #b2b2b2;
    margin-left: -1px;
    margin-right: -1px;
    width: 2px;
}
/*........................*/

#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  left: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  height: 110%;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
#menuToggle {
    display: block;
    position: relative;
    top: 25px;
     left: 0px; 
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 7px;
    margin-left: 15px;
}
.my_navi{
	background-color: #fff;
    padding: 20px;
}
/*...............*/









/*NEW STYLES*/
	.my_tab_content {
		padding: 20px 20px 60px 20px;
	}

	.mycard ul li a {
		font-size: 20px;
	}
	.mycard .form-inline select{
		width: 200px;
		margin: 10px 10px 0px 0px;

	}
	.mycard .col-sm-3 button {
		font-size: 12px;
	}
	.my_tab_content .text-right p {
		font-size: 14px;
		margin: 8px;
	}
	/*scroll*/
		.scroll-to-top {
		    width: 40px;
		    height: 40px;
		    color: #fff;
		    background-color: #4c078c;
		    text-align: center;
		    position: fixed;
		    border-radius: 50%;
		    right: 15px;
		    bottom: 10px;
		    z-index: 9999;
		    display: none;
		    cursor: pointer;
		    padding: 10px;
		    transition: -webkit-transform 0.3s;
		    transition: transform 0.3s;
		    transition: transform 0.3s, -webkit-transform 0.3s;
		    overflow: hidden;
		}
		/*scroll end*/
		@media (max-width: 576px) {
			.mycard {
				margin-top: 60px;
			}
		}
/*NEW STYLES TUGADI*/